{{/* Get name of primary author. */}}

{{ $page := . }}

{{/* Get publisher as fall back. */}}
{{ $publisher := site.Params.marketing.seo.org_name | default site.Title }}

{{ $author := "" }}
{{ $author_username := "" }}

{{ if and (not $page.Params.authors) ($page.Scratch.Get "superuser_username") }}
{{ $author_username = $page.Scratch.Get "superuser_username" }}
{{ else if $page.Params.authors }}
{{ $author = index $page.Params.authors 0 }}
{{ $author_username = urlize $author }}
{{ end }}

{{ $taxonomy := "authors" }}
{{ $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $author_username) }}
{{ with $profile_page }}
{{ $author = .Title }}
{{ else }}
{{ $author = $author | default $publisher }}
{{ end }}

{{ warnf "Author: %s: %s" $author $author }}
{{ return $author }}


<!--{{/* layouts/partials/functions/get_author_name.html */}}-->

<!--{{ $authors := .Params.authors }}-->
<!--{{ $authorNames := slice }}-->

<!--{{ if $authors }}-->
<!--{{ range $a := $authors }}-->
<!--{{ if and (isset $a "name") (isset $a "url") }}-->
<!--{{ $authorNames = $authorNames | append $a.name }}-->
<!--{{ else if isset $a "name" }}-->
<!--{{ $authorNames = $authorNames | append $a.name }}-->
<!--{{ else }}-->
<!--{{ $authorNames = $authorNames | append $a }}-->
<!--{{ end }}-->
<!--{{ end }}-->
<!--{{ else }}-->
<!--{{ $authorNames = $authorNames | append (.Params.author | default "Unknown Author") }}-->
<!--{{ end }}-->

<!--{{/* 拼接所有作者名，中间用逗号 */}}-->
<!--{{ $authorString := delimit $authorNames ", " }}-->

<!--{{/* 直接输出，让 partial 返回 */}}-->
<!--{{ $authorString }}-->


<!--{{ $authors := .Params.authors | default (slice) }}-->
<!--{{ $authorNames := slice }}-->

<!--{{ range $i, $a := $authors }}-->
<!--{{ $name := "" }}-->
<!--{{ $url := "" }}-->

<!--{{ if reflect.IsMap $a }}-->
<!--{{ $name = $a.name | default "" }}-->
<!--{{ $url = $a.url | default "" }}-->
<!--{{ else if reflect.IsString $a }}-->
<!--{{ $term := index ($.Site.Taxonomies.authors) (lower $a) }}-->
<!--{{ if $term }}-->
<!--{{ $name = $term.Page.LinkTitle | default $a }}-->
<!--{{ $url = $term.Page.RelPermalink }}-->
<!--{{ else }}-->
<!--{{ $name = $a }}-->
<!--{{ end }}-->
<!--{{ end }}-->

<!--{{ if eq (lower $name) "admin" }}-->
<!--{{ $name = $.Site.Params.author | default "Admin" }}-->
<!--{{ $url = $.Site.Params.author_url | default "#" }}-->
<!--{{ end }}-->

<!--{{ if $name }}-->
<!--{{ if $url }}-->
<!--{{ $authorNames = $authorNames | append (printf "<a href='%s'>%s</a>" $url $name) }}-->
<!--{{ else }}-->
<!--{{ $authorNames = $authorNames | append $name }}-->
<!--{{ end }}-->
<!--{{ end }}-->
<!--{{ end }}-->

<!--{{ delimit $authorNames ", " | safeHTML }}-->
